/Pods
MusicApp.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
MusicApp.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
MusicApp.xcworkspace/xcuserdata
